Repository Perun-Engineering/ebpf-oom-watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, helm-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^helm/
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  - repo: local
    hooks:
      - id: rust-fmt
        name: Rust Format
        entry: sh -c 'docker run --rm -v "$PWD":/code -w /code rustlang/rust:nightly sh -c "rustup component add rustfmt && cargo fmt --all -- --check"'
        language: system
        files: \.rs$
        pass_filenames: false

  - repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        entry: helm lint
        language: system
        files: ^helm/
        pass_filenames: false
        args: [helm/oom-watcher]

fix(core): check the tracepoint layout instead of kprobe symbols
  scripts/check_kernel_symbols.sh
  scripts/preflight-node.sh
Due: none

docs: describe the probe that exists and the kernel it needs
  CONTEXT.md
  README.md
Due: none

fix(ci): pin bpf-linker to 0.10.4
  .github/workflows/pr-checks.yml
  Dockerfile
Due: none

fix(ci): pin bpf-linker to 0.10.4 (#69)
  .github/workflows/pr-checks.yml
  Dockerfile
Due: none

chore(release): 0.1.14 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e453165b925b04d053ca26e53b177e34a5da98fe
Due: none

fix: make the probe correct on real kernels and the deploy paths pullable (#68)
  .pre-commit-config.yaml
  CONTEXT.md
  Cargo.lock
  README.md
  helm/oom-watcher/Chart.yaml
  helm/oom-watcher/values.yaml
  k8s/daemonset.yaml
  oom-watcher-common/src/lib.rs
  oom-watcher-ebpf/src/main.rs
  oom-watcher/src/enrich.rs
  oom-watcher/src/kubernetes.rs
  oom-watcher/src/main.rs
  oom-watcher/src/metrics.rs
  oom-watcher/src/source.rs
  oom-watcher/src/tracepoint.rs
  oom-watcher/src/watch.rs
  scripts/check_kernel_symbols.sh
  scripts/preflight-node.sh
Due: rust-fmt, helm-lint

chore(release): 0.1.15 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  4cedb288047deb2d16e1bbd3253a959f437093fc
Due: none

refactor(core): drop the unused aya-log dependency
  Cargo.lock
  Cargo.toml
  oom-watcher-ebpf/Cargo.toml
  oom-watcher/Cargo.toml
  oom-watcher/src/source.rs
Due: rust-fmt

refactor(core): drop the unused aya-log dependency (#70)
  Cargo.lock
  Cargo.toml
  oom-watcher-ebpf/Cargo.toml
  oom-watcher/Cargo.toml
  oom-watcher/src/source.rs
Due: rust-fmt

chore(release): 0.1.16 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  3ab650a8779407b82d8d3a2eef726bfc63ce9546
Due: none

feat(metrics): evict stale per-container series to bound cardinality
  CONTEXT.md
  README.md
  helm/oom-watcher/templates/daemonset.yaml
  helm/oom-watcher/values.yaml
  oom-watcher/src/main.rs
  oom-watcher/src/metrics.rs
Due: rust-fmt, helm-lint

fix(metrics): close the evict/record race and enforce the memory-type invariant
  README.md
  oom-watcher/src/metrics.rs
Due: rust-fmt

feat(metrics): label OOM series with container_id and image_id
  CONTEXT.md
  README.md
  oom-watcher-common/src/lib.rs
  oom-watcher/src/enrich.rs
  oom-watcher/src/kubernetes.rs
  oom-watcher/src/metrics.rs
  oom-watcher/src/resolve.rs
  oom-watcher/src/watch.rs
Due: rust-fmt

feat(metrics): evict stale per-container series to bound cardinality (#75)
  CONTEXT.md
  README.md
  helm/oom-watcher/templates/daemonset.yaml
  helm/oom-watcher/values.yaml
  oom-watcher/src/main.rs
  oom-watcher/src/metrics.rs
Due: rust-fmt, helm-lint

chore(release): 0.2.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  192ac8cbf4bedb4560327b5701e41cc44df86fe6
Due: none

feat(metrics): label OOM series with container_id and image_id (#76)
  CONTEXT.md
  README.md
  oom-watcher-common/src/lib.rs
  oom-watcher/src/enrich.rs
  oom-watcher/src/kubernetes.rs
  oom-watcher/src/metrics.rs
  oom-watcher/src/resolve.rs
  oom-watcher/src/watch.rs
Due: rust-fmt

chore(release): 0.3.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  48538c585be082cb91c58e31eabb20274c074f5f
Due: none

feat(k8s): serve pod lookups from a node-scoped reflector cache
  CONTEXT.md
  Cargo.lock
  README.md
  oom-watcher/Cargo.toml
  oom-watcher/src/kubernetes.rs
  oom-watcher/src/main.rs
Due: rust-fmt

fix(k8s): report the pod cache sync from the event stream
  CONTEXT.md
  oom-watcher/src/kubernetes.rs
Due: rust-fmt

refactor(k8s): supervise the pod cache through an Option, not a parked task
  README.md
  oom-watcher/src/main.rs
Due: rust-fmt

fix(k8s): let the pod cache list before draining the first OOM event
  CONTEXT.md
  README.md
  oom-watcher/src/kubernetes.rs
  oom-watcher/src/main.rs
Due: rust-fmt

feat(k8s): serve pod lookups from a node-scoped reflector cache (#77)
  CONTEXT.md
  Cargo.lock
  README.md
  oom-watcher/Cargo.toml
  oom-watcher/src/kubernetes.rs
  oom-watcher/src/main.rs
Due: rust-fmt

chore(release): 0.4.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  a9a2a2d7adf7a88c28b6d407ce0d56b7941f872f
Due: none

fix(metrics): report the peak at OOM, not the last kill
  CONTEXT.md
  README.md
  k8s/README.md
  oom-watcher/src/metrics.rs
Due: rust-fmt

fix(metrics): report the peak at OOM, not the last kill (#78)
  CONTEXT.md
  README.md
  k8s/README.md
  oom-watcher/src/metrics.rs
Due: rust-fmt

chore(release): 0.4.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  8de18f51f7581ee95c0fc85cfff28cde33c674eb
Due: none

fix(helm): keep the in-repo chart on the released version
  .github/workflows/release.yml
  .releaserc.json
  helm/oom-watcher/Chart.yaml
Due: helm-lint

feat(helm): harden the DaemonSet's security and scheduling defaults
  README.md
  helm/oom-watcher/templates/daemonset.yaml
  helm/oom-watcher/values.yaml
  k8s/README.md
  k8s/daemonset.yaml
Due: helm-lint

docs(k8s): state the Pod Security level the DaemonSet actually needs
  k8s/README.md
Due: none

feat(helm): harden DaemonSet defaults and keep the chart on the released version (#79)
  .github/workflows/release.yml
  .releaserc.json
  README.md
  helm/oom-watcher/Chart.yaml
  helm/oom-watcher/templates/daemonset.yaml
  helm/oom-watcher/values.yaml
  k8s/README.md
  k8s/daemonset.yaml
Due: helm-lint

chore(release): 0.5.0 [skip ci]
  CHANGELOG.md
  helm/oom-watcher/Chart.yaml
Due: helm-lint

Notes added by 'git notes add'
  c3b9c0470cf2aad44073ef5503c03000862fed86
Due: none

feat(health): give the liveness probe something to assert
  CONTEXT.md
  README.md
  helm/oom-watcher/templates/daemonset.yaml
  k8s/README.md
  k8s/daemonset.yaml
  oom-watcher/Cargo.toml
  oom-watcher/src/health.rs
  oom-watcher/src/http.rs
  oom-watcher/src/main.rs
  oom-watcher/src/watch.rs
Due: rust-fmt, helm-lint
