Repository Perun-Engineering/ebpf-oom-watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, helm-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^helm/
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  - repo: local
    hooks:
      - id: rust-fmt
        name: Rust Format
        entry: sh -c 'docker run --rm -v "$PWD":/code -w /code rustlang/rust:nightly sh -c "rustup component add rustfmt && cargo fmt --all -- --check"'
        language: system
        files: \.rs$
        pass_filenames: false

  - repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        entry: helm lint
        language: system
        files: ^helm/
        pass_filenames: false
        args: [helm/oom-watcher]

fix(helm): set the DaemonSet resource defaults from a measurement
  helm/oom-watcher/values.yaml
  k8s/daemonset.yaml
Due: helm-lint

ci: build the real artifact and validate manifests on PRs
  .github/workflows/pr-checks.yml
Due: none

feat(health): give the liveness probe something to assert (#80)
  CONTEXT.md
  README.md
  helm/oom-watcher/templates/daemonset.yaml
  k8s/README.md
  k8s/daemonset.yaml
  oom-watcher/Cargo.toml
  oom-watcher/src/health.rs
  oom-watcher/src/http.rs
  oom-watcher/src/main.rs
  oom-watcher/src/watch.rs
Due: rust-fmt, helm-lint

chore(release): 0.6.0 [skip ci]
  CHANGELOG.md
  helm/oom-watcher/Chart.yaml
Due: helm-lint

Notes added by 'git notes add'
  7d7c258e10c927d33aa8194a54cc80f44779ec25
Due: none

fix(helm): set the DaemonSet resource defaults from a measurement (#81)
  helm/oom-watcher/values.yaml
  k8s/daemonset.yaml
Due: helm-lint

chore(release): 0.6.1 [skip ci]
  CHANGELOG.md
  helm/oom-watcher/Chart.yaml
Due: helm-lint

Notes added by 'git notes add'
  3057935b0e20bb7951e05e5df93b103f973f99e6
Due: none

ci: build the real artifact and validate manifests on PRs (#82)
  .github/workflows/pr-checks.yml
Due: none

feat(metrics): sweep a deleted pod's series on the pod's schedule
  oom-watcher/src/main.rs
  oom-watcher/src/metrics.rs
Due: rust-fmt

feat(k8s): resolve a container the kubelet has already replaced
  CONTEXT.md
  README.md
  oom-watcher/src/kubernetes.rs
Due: rust-fmt

feat(metrics): make eviction and resolution follow pod lifecycle (#83)
  CONTEXT.md
  README.md
  oom-watcher/src/kubernetes.rs
  oom-watcher/src/main.rs
  oom-watcher/src/metrics.rs
Due: rust-fmt

chore(release): 0.7.0 [skip ci]
  CHANGELOG.md
  helm/oom-watcher/Chart.yaml
Due: helm-lint

Notes added by 'git notes add'
  ea7694c70ccffb06b2d4961c30eefdc600184cbe
Due: none

docs: warn that a system priority evicts pods on nodes at their pod cap
  README.md
  helm/oom-watcher/values.yaml
  k8s/README.md
Due: helm-lint

docs: warn that a system priority evicts pods on nodes at their pod cap (#84)
  README.md
  helm/oom-watcher/values.yaml
  k8s/README.md
Due: helm-lint

chore(release): 0.7.1 [skip ci]
  CHANGELOG.md
  helm/oom-watcher/Chart.yaml
Due: helm-lint

Notes added by 'git notes add'
  0374d7f0982ef951c4e856f8438d37eb799f1e2b
Due: none

docs: rename CONTEXT.md to GLOSSARY.md
  GLOSSARY.md
  oom-watcher/src/watch.rs
Due: rust-fmt
